{
	margin: 0;
	padding: 0;
	box-sizing:  border-box;

}
.form-clientes
{
	width: 400px; 
	padding:30px;
	margin:auto;
	margin-top: 100px;
	border-radius: 4px;
	font-family: 'calibri';
	color:blue;
	box-shadow: 7px 13px 37px green;

}
body{
	background-image: url(4.jpg);
	background-repeat: no-repeat;
	background-size:1400px 1000px;

}
.form-clientes h4
{
font-size: 22px;
margin-bottom: 20px;

}
.controls{
	width: 100%;
	background:white ;
	padding: 10px;
	border-radius: 4px;
	margin-bottom: 16px;
	border: 1px solid;
	font-family: 'calibri';
	font-size: 18px;

}
.form-clientes p{
	height: 40px;
	text-align: center;
	font-size: 18px;

}
.form-clientes .boton
{
width: 100%;
background: blue;
border:none;
padding: 12px;
color: white;
margin: 16px 0;
font-size: 16px; 
}
#navegador ul{
   list-style-type: none;
   text-align: center;
   
   border-radius: 2px;

}
#navegador li{
   display: inline;
   text-align: center;
   margin: 0 10px 0 0;
}
#navegador li a {
   padding: 2px 7px 2px 7px;
   color: #666;
   background-color: #eeeeee;
   border: 1px solid #ccc;
   text-decoration: none;
}
#navegador li a:hover{
   background-color: #333333;
   color: #ffffff;
}
#menu
{
	background-color: #5858FA;
	padding: .1px;
}












